@model Book
<h1 class="display-4">Write a Review for @Model.BookTitle</h1>
<form asp-controller="Review" asp-action="Review" method="post">
    <label for="ReviewText">Review</label><br/>
    <textarea name="ReviewText"></textarea><br/>
    
    <label asp-for="BookId" hidden="hidden"></label>
    <input asp-for="BookId" hidden="hidden"></input>
    
    <button type="submit">Submit</button>
</form>