

<h1 class="display-4">Add a Review</h1>
<form method="post">
    <label for="BookTitle">Title</label>
    <input name="BookTitle" /><br />

    <label>Authors</label>
    @* Repeating the same name attribute will create an array*@
    <input name = "author" />&nbsp;
    <input name = "author" />&nbsp;
    <input name = "author" />
    <br />

    <label for="ReviewText">Review</label>
    <textarea name="ReviewText"></textarea><br />

    <button type="submit">Submit</button>
</form>